@import '../../../../style/theme.scss';

.word-form {
  @include card-styling;
  background-color: $background-color;
  display: grid;
  row-gap: 1rem;

  &__field-row {
    @include grid-list(1fr 5fr);

    label {
      margin: auto 0.5rem auto 0;
    }
    
    textarea {
      resize: none;
      height: 100px;
    }
  }

  &__field {
    @include form-input;
    width: 100%;
  }

  &__close-container {
    display: flex;
    justify-content: flex-end;
  }

  &__submit-row {
    @include grid-list(auto auto auto);
    justify-content: flex-end;
  }

  &__close-container {
    button {
      @include svg-button;
    }
  }

  &__def-button, &__save-button {
    @include primary-button;
  }

  .delete-button {
    @include secondary-button;
  }

  @include breakpoint($sm) {
    &__field-row {
      grid-template-columns: 1fr;
    }

    &__submit-row {
      grid-template-columns: 1fr;
    }
  }
}
