@import '../../../../style/theme.scss';

.word-form {
  @include card-styling;
  background-color: $background-color;

  &__form {
    display: grid;
    row-gap: 1rem;
  }

  &__field-row {
    display: flex;

    label {
      margin: auto 0.5rem auto 0;
    }
    
    textarea {
      resize: none;
      height: 100px;
    }
  }

  &__field {
    @include form-input;
    width: 70%;
    min-width: 200px;
  }

  &__close-container {
    display: flex;
    justify-content: flex-end;

    button {
      @include svg-button;
    }
  }

  &__submit-row {
    display: flex;
    justify-content: flex-end;
  }

  &__save-button {
    margin-right: 1rem;
  }

  &__save-button, .delete-button {
    @include primary-button;
  }

  .delete-button {
    background-color: $error-color;
    border-color: $error-color;
  }
}
