@import '../../../style/theme.scss';

.admin-footer {
  background-color: $footer-color;
  border-top: 1px solid $footer-border;
  padding: 0.5rem 1rem;
  height: $footer-height;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    height: 100%;
  }

  &__link-container {
    @include grid-list(auto);
    margin: auto 0;
  }

  @include breakpoint($sm) {
    height: auto;
    
    &__link-container {
      grid-template-columns: 1fr;
      width: 100%;
    }

    &__link {
      text-align: center;
    }
  }
}
