@import '../../../../style/theme.scss';

.group-card {
  box-shadow: 0 0 5px -2px $secondary-color;
  border-radius: 10px;
  padding: 1rem;

  &__content {
    display: grid;
    row-gap: 1rem;
  }

  &__word-list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;

    li {
      margin-right: 1rem;
      margin-top: 0.5rem;
      border: 1px solid #AAA;
      border-radius: 5px;
      padding: 0.25rem 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 155px));
    justify-content: flex-end;
    column-gap: 1rem;
    row-gap: 0.5rem;
  }

  &__edit-button, .delete-button {
    @include primary-button;
    text-align: center;
    font-size: 16px;
  }
  
  .delete-button {
    background-color: $error-color;
    border-color: $error-color;
  }
}
