@import '../../../../style/theme.scss';

.focused-word {
  @include center-container(900px);
  margin-top: 1rem;

  &__word, &__heading {
    font-size: $large-font;
  }

  &__heading-word {
    font-size: $medium-font;
  }

  &__definition-box {
    @include grid-list(1fr);
  }
  
  &__definition-section {
    @include grid-list(1fr);
  }

  audio {
    margin-top: 1rem;
  }

  &__definition-list {
    @include grid-list(1fr 1fr);
    padding-bottom: 1rem;
  }

  &__definition-wrapper {
    @include secondary-card;
    @include grid-list(1fr, 0.5rem);
    align-content: flex-start;

    &:hover {
      background-color: initial;
    }
  }

  &__synonyms {
    display: flex;
    flex-flow: row wrap;
  }

  &__synonym {
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: $light-border;
    border-radius: $small-radius;
    padding: 0.25rem 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  @include breakpoint($md) {
    &__definition-list {
      @include grid-list(1fr);
    }
  }
}
