@import '../../../../style/theme.scss';

.focused-word {
  @include center-container(800px);

  audio {
    border-radius: $medium-radius;
  }

  .bold {
    font-weight: bold;
  }

  &__heading-word {
    font-size: $xl-font;
  }

  &__definition-box {
    @include grid-list(1fr);
  }
  
  &__definition-section {
    @include grid-list(1fr);
  }

  &__definition-list {
    @include grid-list(1fr 1fr);
  }

  &__definition-wrapper {
    @include secondary-card;
    @include grid-list(1fr);
    align-content: flex-start;
    gap: 0.5rem;

    &:hover, &:focus {
      background-color: initial;
    }
  }

  &__synonyms {
    display: flex;
    flex-flow: row wrap;
  }

  &__synonym {
    margin-right: 1rem;
    margin-top: 0.25rem;
    border: $light-border;
    border-radius: $small-radius;
    padding: 0.25rem 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  @include breakpoint($md) {
    &__definition-list {
      @include grid-list(1fr);
    }
  }
}
