@import '../../../../style/theme.scss';

.guide-list {
  @include center-container(800px);
  @include grid-list(1fr);

  &__list {
    @include grid-list(1fr);
  }

  &__card-link {
    display: block;
    @include card-styling;
    transition: all 0.3s ease;
  
    &__heading {
      text-align: center;
      color: $secondary-color;
    }
  
    &:hover {
      background-color: $background-color;
    }
  }

  @include breakpoint($md) {
    &__card-link {
      text-align: center;
    }
  }
}
