@import '../../../../style/theme.scss';

.group-card-main {
  @include secondary-card;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: all 0.3s ease;
  height: 100%;

  &__heading {
    font-size: $small-font;
    color: $secondary-color;
    padding-bottom: 1rem;
  }

  &__word-list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
  }

  &__word {
    @include small-card;
    margin: 0.5rem 1rem 0.5rem 0;
    background-color: #fff;
    
    &:last-child {
      margin-right: 0;
    }
  }
}
