@import '../../../style/theme.scss';

.header {
  border-bottom: 1px solid $secondary-color;
  height: $header-height;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 100%;
  }

  &__heading {
    font-family: $heading-font;
    font-size: $medium-font;
    margin: auto 0;
  }

  &__nav {
    display: flex;

    ul {
      list-style: none;
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: 1rem;
      margin: auto 0;
    }
  }
}
