@import '../../../../style/theme.scss';

.exercise-list {
  @include center-container(700px);
  display: grid;
  row-gap: 1rem;

  &__list {
    list-style: none;
    display: grid;
    row-gap: 1rem;
  }
}
