@import '../../../../style/theme.scss';

.category-card {
  display: block;
  @include secondary-card;
  padding: 3rem;
  transition: all 0.3s ease;

  &__heading {
    text-align: center;
  }

  @include breakpoint($md) {
    padding: 2rem;
  }
}
