@import '../../../../style/theme.scss';

.exercise-list-main {
  display: grid;
  gap: 1rem;
  margin-top: 1.5rem;

  &__list {
    @include grid-list(1fr 1fr 1fr 1fr 1fr);
  }

  &__link {
    @include primary-link;
    
    svg {
      transition: 0.3s all ease;
      margin-left: 0.25rem;
    }

    &:hover {
      svg {
        margin-left: 0.5rem;
      }
    }
  }

  @include breakpoint($md) {
    &__list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @include breakpoint($sm) {
    &__list {
      grid-template-columns: 1fr 1fr;
    }
  }
}
