@import '../../style/theme.scss';

.popover-button-container {
  position: relative;

  button {
    width: 100%;
    height: 100%;
  }
}

.success {
  color: $success-color;
}

.error {
  color: $error-color;
}
