@import '../../../../style/theme.scss';

.categories {
  @include center-container(700px);
  padding: 0 1rem;

  &__heading {
    padding-bottom: 1rem;
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1rem;
  }
}
