@import '../../../../style/theme.scss';

.category-add {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1rem;
  display: grid;
  row-gap: 1rem;

  &__form-content {
    display: grid;
    grid-template-columns: 1fr 80px;
    column-gap: 1rem;
  }

  &__field-row {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 0.5rem;

    label {
      margin: auto 0;
    }
  }

  &__field {
    @include form-input;
  }

  &__submit {
    @include primary-button;
    width: 100%;
  }

  &__error {
    color: $error-color;
  }
}
