@import '../../../style/theme.scss';

.register-page {
  &__wrapper {
    @include admin-wrapper;
  }

  &__heading {
    padding-bottom: 1rem;
    text-align: center;
    font-size: 30px;
  }

  &__register-container {
    @include center-container(500px);
    text-align: right;
  }
}
