@import '../../../style/theme.scss';

.exercise-admin {
  &__wrapper {
    @include admin-wrapper;
  }

  &__heading {
    font-size: $large-font;
  }

  &__success-message {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }

  .highlight {
    color: $accent-color;
  }
}
