@import '../../../style/theme.scss';

.admin-header {
  border-bottom: 1px solid $secondary-color;
  
  a {
    text-decoration: none;
  }

  &__wrapper {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  &__heading {
    font-family: $heading-font;
    font-size: 22px;
    margin: auto 0;
  }

  &__nav {
    display: flex;

    ul {
      list-style: none;
      display: grid;
      grid-template-columns: auto auto auto auto;
      column-gap: 1rem;
      margin: auto 0;
    }
  }
}
