@import '../../../../style/theme.scss';

.register-form {
  @include card-styling;
  @include center-container(500px);
  padding: 2rem;

  &__row {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;

    &:last-child {
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 1rem;
    }
  }

  &__input {
    @include form-input;
  }

  &__submit {
    @include primary-button;
    width: 150px;
  }

  &__spinner {
    width: 25px;
    height: 25px;
    margin: auto 0.5rem auto 0;
    @include spinner(5px, $primary-color, 1s);
  }
}
