@import '../../../style/theme.scss';

.subcategories-admin {
  &__wrapper {
    padding: 2rem 1rem;
    display: grid;
    row-gap: 1.5rem;
  }

  &__heading {
    font-size: $large-font;
  }

  .highlight {
    color: $accent-color;
  }
}
