@import '../../../../style/theme.scss';

.home-content-container {
  @include grid-list(1fr);

  &__wrapper {
    @include admin-wrapper;
  }

  &__banner {
    background-color: $link-color;
  }

  &__banner-wrapper {
    padding: 5rem 2rem;
    @include grid-list(3fr 7fr);
    min-height: 450px;
  }

  &__banner-image-container {
    @include background-image;
  }

  &__banner-content {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__language-buttons {
    @include grid-list(repeat(6, 1fr));
  }

  &__language-button {
    @include primary-button;
    // height: max-content;

    &.active {
      background-color: $primary-color;
    }
  }

  &__main-content {
    @include grid-list(1fr);

    ul {
      padding: 0 2rem;
    }
  }

  figure {
    display: flex;
    justify-content: center;
  }
}
