@import '../../../../../style/theme.scss';

.category, .category--expanded {
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 0 5px -2px $secondary-color;
  border-radius: 10px;

  &__name {
    margin: auto 0;
  }

  &__button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
  }
  
  button {
    @include svg-button;
  }
}

.category {
  &__content-container {
    display: grid;
    grid-template-columns: auto 80px;
    column-gap: 1rem;
  }
}

.category--expanded {
  &__header, &__edit-form {
    display: grid;
    grid-template-columns: auto 40px;
    column-gap: 1rem;
  }

  &__button-container {
    grid-template-columns: 1fr;
  }

  &__edit-form {
    padding-top: 1.5rem;
    grid-template-columns: auto 80px;
    opacity: 0;

    input {
      @include form-input;
    }
  }

  &__form-row {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 0.5rem;

    label {
      margin: auto 0;
    }
  }

  &__submit-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__save-option {
    color: $success-color;
  }

  &__cancel-option {
    color: $error-color;
  }
}
