@import '../../../../../style/theme.scss';

.category, .category--expanded {
  padding: 1rem;
  box-shadow: 0 0 5px -2px $secondary-color;
  border-radius: 10px;

  &__name {
    margin: auto 0;
  }

  &__button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
  }

  button {
    @include svg-button;
  }
}

.category {
  &__content-container {
    display: grid;
    grid-template-columns: auto 80px;
    column-gap: 1rem;
  }
}

.category--expanded {
  &__header {
    display: grid;
    grid-template-columns: auto 40px;
    column-gap: 1rem;
  }

  &__button-container {
    grid-template-columns: 100%;
  }
}
