// Colours
$primary-color: #2b825d;
$secondary-color: #1A5640;
$accent-color: #58b580;
$background-color: #fafafa;
$text-color: #484848;
$link-color: #2b825d;
$hover-color: #2B76A1;
$highlight-color: #FFFFA8;
$header-color: #2b825d;
$success-color: #006100;
$error-color: #BD0000;
$error-hover: #660000;
$footer-color: #fafafa;
$footer-border: #CCC;

$header-height: 60px;
$footer-height: 50px;

$heading-font: 'Rubik', 'sans-serif';
$body-font: 'Roboto', 'sans-serif';

$light-border: 1px solid #AAA;

// Font Sizes
$xl-font: 35px;
$large-font: 28px;
$medium-font: 20px;
$small-font: 16px;

// Screen Sizes
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1366px;

// Border Radius
$large-radius: 20px;
$medium-radius: 10px;
$small-radius: 6px;

@mixin breakpoint($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    flex-shrink: 0;
    width: initial;
    height: initial;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
  }
}

@mixin image-overlay($color) {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $color;
}

@mixin primary-button {
  padding: 0.25rem 1rem;
  transition: all 0.3s ease-in-out;
  border: 0;
  border-radius: $large-radius;
  background-color: $primary-color;
  color: #FFF;
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 16px;
  text-align: center;

  &:disabled {
    color: #999;
    background-color: #EEE;
    cursor: default;
  }

  &:hover {
    background-color: $secondary-color;
    color: #FFF;

    &:disabled {
      color: #999;
      background-color: #EEE;
    }
  }
}

@mixin secondary-button {
  @include primary-button;
  background-color: $error-color;
  border-color: $error-color;

  &:hover {
    background-color: $error-hover;
  }
}

@mixin primary-link {
  position: relative;
  transition: 0.3s color ease;
  color: $link-color;
  font-weight: bold;

  &:hover {
    color: $hover-color;
  }
}

@mixin secondary-link {
  @include primary-link;
  transition: 0.1s border ease;
  color: #FFF;
  padding-bottom: 0.3rem;

  &:hover, &.current {
    color: #FFF;
    border-bottom: 3px solid #FFF;
  }
}

@mixin center-container($max-width) {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

@mixin card-styling {
  box-shadow: 0 0 5px -2px $secondary-color;
  border-radius: $medium-radius;
  padding: 1rem;
  color: $text-color;

  &:hover {
    color: $text-color;
  }
}

@mixin secondary-card {
  @include card-styling;
  border-top: 5px solid $primary-color;

  &:hover {
    background-color: $background-color;
    color: $text-color;
  }
}

@mixin small-card {
  border: $light-border;
  border-radius: $small-radius;
  padding: 0.25rem 0.5rem;
}

@mixin grid-list($template-columns, $gap: 1rem) {
  list-style: none;
  display: grid;
  gap: $gap;
  grid-template-columns: $template-columns;
}

@mixin colored-bullets {
  list-style: none;

  &::before {
    content: "\2022";
    color: $primary-color;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
    font-weight: bold;
  }
}

@mixin admin-wrapper {
  padding: 2.5rem 5rem;
  display: grid;
  row-gap: 1.5rem;
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
  align-content: start;

  @include breakpoint($lg) {
    padding: 2rem 3rem;
  }

  @include breakpoint($md) {
    padding: 2rem 1rem;
  }
}

@mixin form-input {
  padding: 0.25rem 0.5rem;
  border-radius: $small-radius;
  border: $light-border;
  font-family: $body-font;
  font-size: 14px;

  &.error {
    border-color: $error-color;
  }
}

@mixin svg-button {
  background: transparent;
  border: 0;
  cursor: pointer;

  svg {
    font-size: 20px;
  }

  &:hover {
    svg {
      color: $hover-color;
    }
  }

  &:disabled {
    svg {
      color: #CCC;
    }
  }
}

@mixin background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin spinner($width, $color, $speed) {
  border-radius: 50%;
  border: $width solid #ccc;
  border-top: $width solid $color;
  border-bottom: $width solid $color;
  animation: rotate-spinner $speed linear infinite;
}

@mixin wysiwyg-content() {
  table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;

    th, td {
      border: 1px solid #ccc;
      padding: 0.5rem 1rem;
    }

    th {
      border: 1px solid transparent;
      background: $primary-color;
      text-align: left;
      text-transform: uppercase;
      color: #FFF;

      &:first-child {
        border-top-left-radius: $small-radius;
      }

      &:last-child {
        border-top-right-radius: $small-radius;
      }
    }
  }
  
  > table > tbody > tr {
    &:last-child {
      border-bottom: 5px solid $primary-color;
    }
  }

  ul {
    padding: 0 2rem;
  }

  li {
    @include colored-bullets;
  }

  figure {
    display: flex;
    justify-content: center;
    margin: 1rem auto !important;
  }

  hr {
    margin: 2.5rem auto;
    width: 50%;
    height: 3px;
    border: 0;
    background-color: $accent-color;
  }

  .se-component {
    width: auto;
  }

  .__se__float-center {
    margin: 0 auto;
    min-width: unset !important;
  }
}

@keyframes rotate-spinner {
  to {
    transform: rotate(360deg);
  }
}
