$primary-color: #5995ED;
$secondary-color: #044389;
$accent-color: #FFAD05;
$background-color: #BFD6F8;
$text-color: #525766;
$link-color: #F9F086;
$success-color: #006100;
$error-color: #BD0000;
$header-height: 65px;
$footer-height: 38px;
$heading-font: 'Rubik', 'sans-serif';

@mixin image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    flex-shrink: 0;
    width: initial;
    height: initial;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
  }
}

@mixin image-overlay($color) {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $color;
}

@mixin primary-button {
  padding: 0.25rem 1rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border: 2px solid $secondary-color;
  border-radius: 5px;
  background-color: $secondary-color;
  color: #FFF;
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: none;

  &:disabled {
    color: #999;
    background-color: #EEE;
    cursor: default;

    &:hover {
      color: #999;
    }
  }

  &:hover {
    background-color: transparent;
    color: #000;
  }
}

@mixin primary-link {
  position: relative;
  color: #FFF;
  text-decoration: none;
  border-bottom: 3px solid $primary-color;
  transition: 0.3s all ease;

  &:hover {
    border-color: transparent;
  }
}

@mixin form-input {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border: 1px solid #AAA;

  &.error {
    border-color: $error-color;
  }
}

@mixin svg-button {
  background: transparent;
  border: 0;
  cursor: pointer;

  svg {
    font-size: 20px;
  }

  &:hover {
    svg {
      color: $primary-color;
    }
  }

  &:disabled {
    svg {
      color: #CCC;
    }
  }
}

@mixin background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin spinner($width, $color, $speed) {
  border-radius: 50%;
  border: $width solid #ccc;
  border-top: $width solid $color;
  border-bottom: $width solid $color;
  animation: rotate-spinner $speed linear infinite;
}

@keyframes rotate-spinner {
  to {
    transform: rotate(360deg);
  }
}
