@import '../../../../style/theme.scss';

.list-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  row-gap: 1rem;

  &__list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;

    li {
      display: inline-block;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
