@import '../../../../style/theme.scss';

.subcategory-card {
  display: flex;
  @include secondary-card;
  padding: 1rem;
  transition: all 0.5s ease;
  height: 100%;

  &__heading {
    margin: auto;
    text-align: center;
    font-size: $small-font;
  }
}
