@import '../../../../style/theme.scss';

.subcategory-card {
  display: flex;
  @include card-styling;
  padding: 1rem;
  transition: all 0.5s ease;
  height: 100%;

  &__heading {
    margin: auto;
    text-align: center;
    font-size: $small-font;
  }

  &:hover, &:focus {
    background-color: $background-color;
  }
}
