@import '../../../../style/theme.scss';

.word-list {
  @include center-container(700px);
  display: grid;
  row-gap: 1rem;

  &__list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;

    li {
      display: inline-block;
      margin: 0.25rem 1rem 0.25rem 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
