@import './style/theme.scss';

body {
  color: $text-color;
}

a {
  @include primary-link;
}

.popover-button-container {
  position: relative;

  button {
    width: 100%;
    height: 100%;
  }
}

.success {
  color: $success-color;
}

.error {
  color: $error-color;
}

.highlight {
  color: $primary-color;
}
