@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: 'Roboto', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', 'sans-serif';
}

a {
  text-decoration: none;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}
