@import '../../../../style/theme.scss';

.word-button--word, .word-button--add {
  @include primary-button;
}

.word-button--add {
  border: 2px dashed $primary-color;
  background-color: transparent;
  color: $text-color;

  &:hover,&:focus {
    border-color: $secondary-color;
    background-color: transparent;
    color: $hover-color;
  }
}
