@import '../../../style/theme.scss';

.groups {
  &__wrapper {
    @include admin-wrapper;
  }

  &__heading {
    font-size: $large-font;
  }
  
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}
