@import '../../../style/theme.scss';

.study-guide {
  &__wrapper {
    @include admin-wrapper;
  }

  &__heading {
    font-size: $large-font;
  }

  &__subheading {
    font-size: $small-font;
  }

  &__content {
    @include grid-list(1fr, 2rem);
  }
  
  &__section {
    @include grid-list(1fr);
    @include card-styling;
    padding: 2rem;
  }
  
  &__section-main {
    @include grid-list(1fr 3fr, 2rem);
  }

  &__section-image {
    @include background-image;
  }

  &__section-heading {
    font-size: $medium-font;
  }

  &__section-content {
    overflow-x: auto;

    @include wysiwyg-content;
  }

  @include breakpoint($lg) {
    &__section-main {
      @include grid-list(1fr);
    }

    &__section-image {
      height: 150px;
    }
  }

  @include breakpoint($lg) {
    &__section {
      padding: 1rem;
    }
  }
}
