@import '../../../../style/theme.scss';

.group-add {
  display: grid;
  grid-template-columns: auto 80px;
  column-gap: 1rem;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  @include card-styling;

  &__heading {
    margin: auto 0;
    font-size: 20px;
  }

  &__add-button {
    @include primary-button;
  }
}
