@import '../../../../style/theme.scss';

.group-add {
  display: grid;
  grid-template-columns: auto 80px;
  column-gap: 1rem;
  @include center-container(700px);
  @include card-styling;

  &__heading {
    margin: auto 0;
    font-size: $medium-font;
  }

  &__add-button {
    @include primary-button;
  }
}
