@import '../../../../style/theme.scss';

.account-form {
  @include card-styling;
  @include center-container(1100px);
  @include grid-list(1fr);
  padding: 2rem;

  &__field-containers {
    @include grid-list(1fr 1fr);
  }

  &__row {
    @include grid-list(1fr, 0);
  }

  &__input {
    @include form-input;
    max-width: 15rem;
  }

  &__submit-row {
    display: flex;
    justify-content: flex-end;
  }

  &__submit {
    @include primary-button;
    width: 150px;
  }
  
  &__row-heading, label {
    font-family: $heading-font;
    font-size: 1rem;
    font-weight: bold;
  }

  &__spinner {
    width: 25px;
    height: 25px;
    margin: auto 0.5rem auto 0;
    @include spinner(5px, $primary-color, 1s);
  }

  @include breakpoint($sm) {
    &__field-containers {
      @include grid-list(1fr);
    }
  }
}
