@import '../../../../style/theme.scss';

.exercise-form {
  display: grid;
  row-gap: 1rem;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;

  &__form-row {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    @include card-styling;
  }

  &__row-heading {
    grid-column: span 2;
  }

  &__label {
    margin: auto 0;
  }

  &__field {
    @include form-input;
  }

  &__highlight {
    color: $secondary-color;
  }

  &__submit-row {
    display: flex;
    justify-content: flex-end;

    button {
      @include primary-button;
    }
  }
}
