@import '../../../../style/theme.scss';

.category-add {
  @include center-container(700px);
  padding: 0 1rem;
  display: grid;
  row-gap: 1rem;

  &__form-content {
    @include grid-list(1fr 80px);
  }

  &__field-row {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 0.5rem;

    label {
      margin: auto 0;
    }
  }

  &__field {
    @include form-input;
  }

  &__submit {
    @include primary-button;
    width: 100%;
  }

  @include breakpoint($sm) {
    &__form-content {
      grid-template-columns: 1fr;
    }
  }
}
